<ng-container *ngIf="authService.isAuthenticated() ; else loggedOut">
    <header>
        <nav class="nav-links">
            <a class="nav-link" [routerLink]="['/debug']">Debug</a>
            <a class="nav-link" [routerLink]="['/trips']">Trips</a>
            <a class="nav-link" [routerLink]="['/newtrip']">New Trip</a>
        </nav>
        <div class="avatar-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu"  class="avatar-button">
              <mat-icon>person</mat-icon> <!-- Add person icon here -->
              <!-- <img *ngIf="userProfile.picture" [src]="userProfile.picture" alt="Avatar" class="avatar"> -->
              <!-- <mat-icon *ngIf="!userProfile.picture">account_circle</mat-icon> -->
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onPreferences()">Preferences</button>
              <app-auth-button></app-auth-button>
            </mat-menu>
          </div>    </header>
</ng-container>

<ng-template #loggedOut>
    <app-auth-button></app-auth-button>
</ng-template>