<form (ngSubmit)="postTrip()">
    <div>
      <label for="startTime">Start Time:</label>
      <input type="datetime-local" id="startTime" [(ngModel)]="startTime" name="startTime">
    </div>
    <!-- <div>
      <label for="timeZone">Timezone:</label>
      <select id="timeZone" name="timeZone" [(ngModel)]="newTrip.timeZone">
          <option *ngFor="let tz of timeZones" [value]="tz">{{ tz }}</option>
      </select>
    </div>         -->
    <div>
      <label for="notes">Notes:</label>
      <textarea id="notes" [(ngModel)]="newTrip.notes" name="notes"></textarea>
    </div>
    <div>
      <label for="targetSpecies">Default Species:</label>
      <select id="targetSpecies" [(ngModel)]="newTrip.defaultSpecies" name="targetSpecies">
        <option *ngFor="let species of speciesList" [value]="species">{{ species }}</option>
      </select>
    </div>    
    <div>
      <label for="targetSpecies">Target Species:</label>
      <div class="target-species-box">
        <app-species-selector [speciesList]="speciesList" (speciesSelected)="onSpeciesSelected($event)"></app-species-selector>      
      </div>
    </div>
    <div>
      <label for="tags">Tags:</label>
      <select multiple id="tags" [(ngModel)]="newTrip.tags" name="tags">
        <!-- Options for tags should be populated here -->
      </select>
    </div>
    <button type="submit">Save Trip</button>
  </form>