<div class="advanced">
    <div class="switch-container">
        <div class="left-section">
            <label class="switch">
                <input type="checkbox" (change)="toggleMode()" [checked]="isAdvancedMode">
                <span class="slider round"></span>
            </label>
            <span class="switch-label">Advanced</span>
        </div>
        <div class="right-section">
            <button class="cancel-button" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>

<section *ngIf="showAdvancedMode">
    <section *ngIf="tripIsOpen"> <!-- End Trip Button -->
        <button (click)="openEndTripModal()">End Trip</button>
    </section>

    <!-- End Trip Modal -->
    <div *ngIf="showEndTripModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="closeEndTripModal()">&times;</span>
            <h2>End Trip</h2>
            <form (ngSubmit)="endTrip()">
                <label for="endTime">End Time:</label>
                <input type="datetime-local" id="endTime" [(ngModel)]="endTripData.endTime" name="endTime" required>

                <label for="notes">Notes:</label>
                <textarea id="notes" [(ngModel)]="endTripData.notes" name="notes"></textarea>

                <label for="rating">Rating:</label>
                <select id="rating" [(ngModel)]="endTripData.rating" name="rating" required>
                    <option *ngFor="let option of ratingOptions" [value]="option">{{ option }}</option>
                </select>

                <!-- <input type="number" id="rating" [(ngModel)]="endTripData.rating" name="rating" min="1" max="5"> -->

                <label for="tags">Tags:</label>
                <input type="text" id="tags" [(ngModel)]="endTripData.tags" name="tags">

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <section *ngIf="tripIsOpen"> <!-- New Catch-->
        <h2>New Catch</h2>
        <form (ngSubmit)="postCatch()">
            <div>
                <label for="species">Species:</label>
                <input type="text" id="species" name="species" [(ngModel)]="newCatch.speciesId">
            </div>
            <div>
                <label for="caughtWhen">When:</label>
                <input type="datetime-local" id="caughtWhen" name="caughtWhen" [(ngModel)]="caughtWhen">
            </div>
            <!-- <div>
            <label for="timeZone">Timezone:</label>
            <select id="timeZone" name="timeZone" [(ngModel)]="newCatch.timeZone">
                <option *ngFor="let tz of timeZones" [value]="tz">{{ tz }}</option>
            </select>
        </div> -->
            <div>
                <label for="size">Size:</label>
                <select id="size" name="size" [(ngModel)]="newCatch.caughtSize">
                    <option *ngFor="let option of sizeOptions" [value]="option">{{ option }}</option>
                </select>
            </div>
            <div>
                <label for="length">Length (cm):</label>
                <input type="number" id="length" name="length" [(ngModel)]="newCatch.caughtLength">
            </div>
            <div>
                <label for="caughtLocation">Location {{newCatch.caughtLocation?.latitude}},
                    {{newCatch.caughtLocation?.longitude}} (Select from map):</label>
                <button (click)="toggleCurrentPositionMapVisibility($event)">Show Map</button>

                <div *ngIf="currentPositionMapVisible">
                    <google-map height="400px" width="750px" [center]="center" [zoom]="zoom"
                        (mapClick)="onMapClick($event)">
                        <map-marker [position]="currentPositionMarkerPosition" [options]="currentPositionMarkerOptions"
                            (mapDragend)="onMarkerDragEnd($event)" />
                    </google-map>
                    <input type="hidden" id="caughtLocation" name="caughtLocation"
                        [(ngModel)]="newCatch.caughtLocation">
                </div>
            </div>

            <button type="submit">Add Catch</button>
        </form>
    </section>

    <section> <!-- Catch History -->
        <h2>Catch History</h2>
        <button (click)="togglecatchHistoryVisibility($event)">Show catches on Map</button> <!-- Show on Maps button -->
        <div *ngIf="catchHistoryMapVisible">
            <google-map height="400px" width="750px" [center]="center" [zoom]="zoom">
                <map-marker *ngFor="let position of catchHistoryMapMarkerPosition" [position]="position"
                    [options]="catchHistoryMapMarkerOptions" />
            </google-map>
        </div>

        <ul>
            <table>
                <thead>
                    <tr>
                        <th>When</th>
                        <th>Species</th>
                        <th>Size</th>
                        <th>Length</th>
                        <th>Bite Time</th>
                        <th>Time to Sunrise</th>
                        <th>Time to Sunset</th>
                        <th>Time to Moon Over</th>
                        <th>Time to Moon Under</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tripCatch">
                        <td>{{ item.caughtWhen | date:'MMMM d, y, h:mm a' }}</td>
                        <td>{{ item.speciesId }}</td>
                        <td>{{ item.caughtSize }}</td>
                        <td>{{ item.caughtLength }}</td>
                        <td>{{ item.biteInfo?.biteTimeState }}</td>
                        <td>{{ item.biteInfo?.timeToSunrise }}</td>
                        <td>{{ item.biteInfo?.timeToSunset }}</td>
                        <td>{{ item.biteInfo?.timeToMoonOver }}</td>
                        <td>{{ item.biteInfo?.timeToMoonUnder }}</td>
                    </tr>
                </tbody>
            </table>
        </ul>
    </section>

    <section> <!-- Trip Details -->
        <h2>Trip Details</h2>
        <div>
            <strong>Subject:</strong> {{ tripDetails.subject }}
        </div>
        <div>
            <strong>Trip ID:</strong> {{ tripDetails.tripId }}
        </div>
        <div>
            <strong>Start Time:</strong> {{ tripDetails.startTime | dateFormat }}
        </div>
        <div>
            <strong>End Time:</strong> {{ tripDetails.endTime | dateFormat }}
        </div>
        <div>
            <strong>Notes:</strong><br>
            <span [innerHTML]="formatNotes(tripDetails.notes)"></span>
        </div>
        <div>
            <strong>Catch Size:</strong> {{ tripDetails.catchSize }}
        </div>
        <div>
            <strong>Rating:</strong> {{ tripDetails.rating }}
        </div>
        <div>
            <strong>Tags:</strong> <span *ngFor="let tag of tripDetails.tags">{{ tag }} </span>
        </div>
        <div>
            <strong>Default Species:</strong> {{ tripDetails.defaultSpecies }}
        </div>
        <div>
            <strong>Target Species:</strong>
            <ul>
                <li *ngFor="let specie of tripDetails.species">{{ specie }}</li>
            </ul>
        </div>
    </section>
</section>

<section *ngIf="!showAdvancedMode">
    <!-- Basic Mode Content -->
    <div class="basic-mode">
        <!-- <h2>Basic Mode</h2> -->
        <div class="button-container">
            <div *ngFor="let size of fishSizes" class="button-wrapper">
                <button [ngClass]="getButtonClass(size)" (click)="onFishSizeSelected(size)">{{ formatSize(size) }} {{
                    tripDetails.defaultSpecies }}</button>
            </div>
        </div>
    </div>
</section>