<p>Trip Catch History</p>
<table class="custom-header">
    <thead>
        <tr>
            <th class="custom-header">Trip</th>
            <th class="custom-header">Catch</th>
            <th class="custom-header">Species</th>
            <th class="custom-header">When</th>
            <th class="custom-header">Size</th>
            <th class="custom-header">Length</th>
            <!-- Add more table headers for additional properties -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tripCatch">
            <td class="custom-cell">{{ item.tripId }}</td>
            <td class="custom-cell">{{ item.catchId }}</td>
            <td class="custom-cell">{{ item.speciesId }}</td>
            <td class="custom-cell">{{ item.caughtWhen }}</td>
            <td class="custom-cell">{{ item.caughtSize }}</td>
            <td class="custom-cell">{{ item.caughtLength }}</td>
            <!-- Add more table cells for additional properties -->
        </tr>
    </tbody>
</table>

